#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*{
  box-sizing: border-box;
}

.main{
  width: 550px;
  height: 868px;
  background: #23252C;
  /* align-items: center; */
  
  
}
.main--profile-Img{
  padding-top: 70px;
  height: 317px;
   width: 317px;
   /* margin-bottom: 10px; */
  

}

.main--section{
   margin: 0 auto;
    width: 317px;
  height: 399px;
  background: #1A1B21;
  margin-top: -10px;
  


}

.main--myname{
  font-weight: 700;
font-size: 25px;
line-height: 30px;
color: #FFFFFF;
line-height: 30px;
padding-top: 20px;
margin: 0;
}
.main--tittle{
 font-weight: 400;
font-size: 12.8px;
color: #F3BF99;
line-height: 15px;
margin: 6px 8px;
}
.main--website{
  line-height: 150%;
  margin-bottom: 20px 18px;
  font-weight: 400;
font-size: 10.24px;
color: #F5F5F5

}
.main--profile_description{
 width: 247px;
height: 247px;
margin: 0 auto;
}

.main--description{
margin-bottom: 5px;
font-size: 16px;
line-height: 150%;
/* or 24px */
color: #F5F5F5;
text-align: justify;

}
.main--article{
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
/* or 15px */
/* width: 247px; */
height: 61px;
text-align: justify;
color: #DCDCDC;
}

.main--footer{
  margin: 0 auto;
  width: 317px;
height: 64px;
background: #161619;
border-radius: 0px 0px 10px 10px;
display: flex;
align-items: center;
/* justify-content: space-between; */
}
.main--footer > img{
  margin-right: 10px ;
  padding-left: 40px;

} 